@import url("resource:///org/gnome/adwaita/gtk-main.css");

/* tweaks */
@import url("apps/tweaks.css");
@import url("apps/light-menubar.css");
@import url("apps/toolbar.css");
@import url("apps/unity.css");
@import url("apps/gnome-panel.css");
@import url("apps/nautilus.css");
@define-color selected_bg_color #0077c0;
@define-color link_color #0077c0;

