/* Adwaita style for Unity*/

UnityPanelWidget,
.unity-panel {
    background-image: linear-gradient(to top,
                                      #888888,
                                      #333333);
    border-width: 0;
}

.unity-panel.menubar,
.unity-panel .menubar {
    color: #333333;
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 1px;
    icon-shadow: 0 1px shade (@dark_bg_color, 1.06);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: linear-gradient(to top,
                                      #fff);
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    color: #888888;
}
