/* Nautilus */

/* Fix desktop selected items */
.nautilus-desktop.nautilus-canvas-item,
.nautilus-desktop.nautilus-canvas-item:selected,
.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:focus,
.nautilus-desktop.nautilus-canvas-item:backdrop {
    background: @theme_selected_bg_color;
    text-shadow: rgba(0,0,0,1) 0.1em 0.1em 0.2em;
}

/*Toolbar backgrounds LIGHT*/
NautilusWindow .menubar {
    color: @theme_fg_color;
    background-image: linear-gradient(to top,
                                      #d0d0d0,
                                      #d3d3d3);
    border-bottom: 1px solid shade (@theme_bg_color, 0.7);
}

/*Toolbar backgrounds DARK*/
/*NautilusWindow .menubar {
    color: @theme_fg_color;
    background-color: #fff;
    background-image: linear-gradient(to top,
                                      shade (@theme_bg_color, 1.0),
                                      shade (@theme_bg_color, 1.1));
    border-top: 1px solid shade (@theme_bg_color, 1.1);
    border-bottom: 1px solid shade (@theme_bg_color, 0.7);
}*/

/*Toolbar buttons*/
.button *:active,
.toolbar .button *:active,
.toolbar .raised.linked .button *:active,
.toolbar .button *:active {
    color: #444744; /*Nautilus adressbar active button font*/
    text-shadow: 0 1px rgba(255,255,255,.3);
    icon-shadow: 0 1px rgba(255,255,255,.3);
}
.toolbar .button:active,
.toolbar .raised.linked .button:active,
.toolbar .linked .button:active {
    background-image: none;
    background: shade (@theme_bg_color, 0.96); /*Nautilus adressbar active button background*/
    box-shadow: inset 0 2px 5px rgba(0,0,0,.3);
}
.button *:active:backdrop,
.toolbar .button *:active:backdrop,
.toolbar .raised.linked .button *:active:backdrop,
.toolbar .button *:active:backdrop {
    color: #666766;
}
.toolbar .button:active:backdrop,
.toolbar .raised.linked .button:active:backdrop,
.toolbar .linked .button:active:backdrop {
    background-image: none;
    background: @theme_bg_color;
    box-shadow: inset 0 2px 5px rgba(0,0,0,.2);
}

/*Sidebar*/
NautilusWindow * {
    -GtkPaned-handle-size: 1;
}
NautilusWindow .sidebar .frame,
NautilusWindow .sidebar .frame:backdrop,
NautilusNotebook .frame {
    border-width: 0;
}
NautilusWindow > GtkGrid > .pane-separator:backdrop,
NautilusWindow > GtkGrid > .pane-separator:hover:backdrop,
NautilusWindow > GtkGrid > .pane-separator,
NautilusWindow > GtkGrid > .pane-separator:hover {
    border-width: 0 1px 0 0;
}
NautilusWindow .sidebar .view {
    background-image: linear-gradient(to left,
                                     rgba(0,0,0,.07),
                                     transparent 7px,
                                     transparent);
}
